<section class="credibility">
  <div class="container">
    <ul class="credibility-list">
      {% for point in home.credibility.points %}
        <li class="credibility-item">{{ point }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
