<section class="what-we-do">
  <div class="container">
    <span class="section-label">{{ home.whatWeDo.label }}</span>
    <h2 class="what-we-do-headline">{{ home.whatWeDo.headline }}</h2>
    <p class="what-we-do-subtext">{{ home.whatWeDo.subtext }}</p>
  </div>
</section>
