---
layout: layouts/base.njk
---
<article class="blog-post">
  <header class="post-header">
    <div class="container">
      <a href="/blog/" class="post-back">&larr; Back to Blog</a>
      <time datetime="{{ page.date | dateISO }}">{{ page.date | readableDate }}</time>
      <h1>{{ title }}</h1>
      {% if description %}<p class="post-description">{{ description }}</p>{% endif %}
    </div>
  </header>
  <div class="post-content">
    <div class="container">
      {{ content | safe }}
    </div>
  </div>
</article>
